@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Saira+Semi+Condensed:wght@400;600;700;900&family=Urbanist&display=swap');
  

* {
    margin: 0;
    padding: 0;
    font-family: 'Saira Semi Condensed', sans-serif;
    box-sizing: border-box;
}


.container-fluid {
    background: url('/images/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    text-align: center;
    text-transform: uppercase;
    color: #f7f7f7;
    
    
}



.logo {
    padding-bottom: 50px;
}


.mouse {
    padding-bottom: 30px;
    
}


.about {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 17px;
}

