@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Saira+Semi+Condensed:wght@400;600;700;900&family=Urbanist&display=swap');
  

* {
    margin: 0;
    padding: 0;
    font-family: 'Saira Semi Condensed', sans-serif;
    box-sizing: border-box;
}


.container-fluid {
    background: url('/images/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 250px;
    text-align: center;
    text-transform: uppercase;
    color: #f7f7f7;
    
    
}



.logo {
    padding-bottom: 50px;
}


.mouse {
    padding-bottom: 30px;
    
}


.about {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 17px;
}



.service {
    background: url('./images/s_image.jpg');
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    align-items: center;
    padding-bottom: 80px;
    background-position: center;
    margin-bottom: 50px;

}



.service .head {
    font-size: 3rem;
}



.what-we-do .design {
    display: none;
}


.what-we-do .product {
    display: none;
}

.what-we-do .development {
    display: none;
}






.what-we-do {
    text-align: center;
    padding-top: 4px;
    font-size: 17px;
    color: #000;

}


.what-we-do .heading {
    padding-bottom: 37px;
    font-size: 20px;
}



.what-we-do .head {
    font-size: 3rem;
    padding-bottom: 38px;
}

#portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:18%;
    margin-right: 16%;
    justify-content: space-around; 
    
  }
  .col-md-3 img{
    max-width: 100%;
    max-height: 100%;

  }
  .portfolio h2{
    text-align: center;
    padding-top:40px;
    font-size: 3rem;
  }



  #portfolio .texing {
    opacity:0;
    background-color: rgba(255, 255, 255, 0.623);
    position: absolute;
    top:55%;
    bottom:35%;
    left:65%;
    right:25%; 
  }
 

  #contact {
    background-image: url('./images/c_image.jpg');
    background-size: cover;
    background-position: cover;
    margin-top: 50px;
}
.form-cont input {
    width: 49%;
    background: transparent;
    color: white;
    outline: 1px solid #f7f7f7;
}
.form-cont textarea {
    margin-top: 10px;
    width: 100%;
    background: transparent;
    color: white;
    outline: 1px solid white;
}

  .form-cont {
    text-align: center;
    position: relative;
    width: 700px;
    max-width: 100%;
    left: 50%;
    transform: translate(-50%);

}
::placeholder{
    font-size: 20px;
    color: white;
    outline: 1px solid #f7f7f7;
}
#contact h1{
    color: white;
}

.con {
    padding-bottom: 50px;
}



.form-cont button {
    background-color: darkblue;
    color: #f7f7f7;
    font-size: 20px;
  
   
}


.social img {
    border-radius: 50%;
    transition: 0.2s ease-out;
}


#links{
    margin:50px;

}


.footer {
    background-color: #f7f7f7;
}